'authority: aluno.learningonline-placeholder.com.br'
'accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7'
'accept-language: pt-BR,pt;q=0.9'
'cache-control: no-cache'
'cookie: remember_user_token=eyWVNReE1TUTBkRXhSWjJKWVVXaDBPVTUxYVcxSlRqUnBlbGgxSWl3d21ff6axxokqkflalsaU1UWTROVGc1TlRVeE1pNDNOVFkzyMDIzLTA2LTE4VDE2OjE4OjMyLjc1NlucmVtZW1iZXJfdXNlcl90b2tlbiJ9fQ%3D%3D--d6cc6037b9ecc29b2bb84568b878cdc9fc9cc3de; _memberkit_session=P8g42X27KR%2BfQL007tkIzBA4t8D06G1qV8H%2BE9I%2Bc7FDDwOSZeO1u9DA71yHCDm72HBnB9e0dYhZA%2BairmskYpuzTJTvlEBXrBGoOnzDQHd%2Fnnrai5qVp54%2BkgmzmDlIYxIspYyKxOGZJebvc0Y6QdFTWX90yK38yPX%2BQAQDELAUd%2B6%2BJ74G1oIptJ%2BNgQHzpi28THrISNqIsO%2FCM%2FHqKY8pPf4UivqgDr5YKJWa%2BBNwS8k%2BeqHrHAL9pcfsJl0Fr%2FBm10o6ghy8AiUblpSoBCvznBBV9ZohQt9djwH%2FvWcYHpIiKP5zcRz7wznTzzmm7UG4MEKIBGkvvydY2ou%2F%2B3idYiG4Oxljd0nco%2FD4bv6pUR0HioDxyT%2BAfCUnGvP%2F%2Fa53pungYKM%2FiCnwRjdNL5DIo07FMEUAHPuHkbfr%2BsD4Egbiv0SWsLKPEtP%2FwqugVclRd5PCaITaXOPbSk4lBtPlk5daw24aDabnbWKUUlVSnitK5RAStC%2FigDlkWO70fSQMSXApB2GcGo%3D--znOKd0QJDEkZOAq3--Mp%2BLzaca9nfoF1dad322daKfa%2FQ%3D%3D'
'pragma: no-cache'
'referer: https://aluno.learningonline.com.br/'
'sec-ch-ua: "Not.A/Brand";v="8", "Chromium";v="114", "Google Chrome";v="114"'
'sec-ch-ua-mobile: ?0'
'sec-ch-ua-platform: "Windows"'
'sec-fetch-dest: document'
'sec-fetch-mode: navigate'
'sec-fetch-site: same-origin'
'sec-fetch-user: ?1'
'upgrade-insecure-requests: 1'
'user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36'